In [3]:
numeros=[1,2,3,4,5]
for num in numeros:
    suma=num+1
    print(suma)

2
3
4
5
6

In [4]:
for i in range(1,6):
    suma=i+1
    print(suma)

2
3
4
5
6

In [6]:
for i in range(1,6):
    suma=i+1
    print('Variable ', i,'Resultado ', suma)

Variable  1 Resultado  2
Variable  2 Resultado  3
Variable  3 Resultado  4
Variable  4 Resultado  5
Variable  5 Resultado  6

In [9]:
num=1
while num < 6:
    print("num ", num)
    num =num +1

num  1
num  2
num  3
num  4
num  5

In [10]:
nombres = ["Juan", "María", "Carlos", "Laura"]
for nombre in nombres:
    print(nombre)

Juan
María
Carlos
Laura

In [11]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [12]:
limite = 50
a, b = 0, 1
while a < limite:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [1]:
for i in range(5):
    print(i)
    break

0

In [2]:
cadena = 'Python'
for letra in cadena:
    if letra == 'h':
        print("Se encontró la h")
        break
    print(letra)

P
y
t
Se encontró la h

In [6]:
x = 5
while True:
    x -= 1
    print(x)
    if x == 0:
        break
print("Fin del bucle")

4
3
2
1
0
Fin del bucle

In [34]:
elemento_buscado = "manzana"
frutas = ["manzana", "banana", "uva", "pera"]
for fruta in frutas:
    if fruta == elemento_buscado:
        print("¡Encontré la", fruta + "!")
        break
# ¡Encontré la manzana!

¡Encontré la manzana!

In [33]:
elemento_buscado = "uva"
frutas = ["manzana", "banana", "uva", "pera"]
for fruta in frutas:
    if fruta == elemento_buscado:
        print("¡Encontré la", fruta + "!")
        break
if fruta != elemento_buscado: print('No la encontre')
# ¡Encontré la manzana!

¡Encontré la uva!

In [37]:
for numero in range(1, 101):
    if numero % 7 == 0:
        print("¡Número divisible por 7 encontrado:", numero, "!")
        break
# ¡Número divisible por 7 encontrado: 7!

¡Número divisible por 7 encontrado: 7 !

In [51]:
for numero in range(1, 101):
    if numero % 7 == 0:
        if numero==7:
            continue        
        print("¡Número divisible por 7 encontrado:", numero, "!")          
        break
# ¡Número divisible por 7 encontrado: 7!

¡Número divisible por 7 encontrado: 14 !

In [52]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)
# 1
# 3
# 5
# 7
# 9

1
3
5
7
9

In [53]:
numeros = [5, -3, 8, -1, 0, -7, 2]
for num in numeros:
    if num < 0:
        continue
    print(num)
# 5
# 8
# 0
# 2

5
8
0
2

# INSUPPER 
insupper() funcion para letras en mayuscula (ver el ejercicio siguiente)

In [1]:
texto = "Hola Mundo 123"
for caracter in texto:
    if not caracter.isupper():
        continue
    print(caracter)
# H
# M

H
M

In [56]:
texto = "Hola Mundo 123"
for caracter in texto:
    if caracter.isupper():
        print(caracter)

H
M

In [ ]:
#ITENERABLES E ITENERADORES

In [1]:
# ENUMERATE Para enumerar el inice enumerate
cadena = "Henry"
for c in enumerate(cadena):
    print(c)

(0, 'H')
(1, 'e')
(2, 'n')
(3, 'r')
(4, 'y')