In [13]:
date=('domingo', 'lunes', 'martes')

In [9]:
uno,dos,tres=date

In [10]:
print(uno)
print(dos)
print(tres)

domingo
lunes
martes

In [15]:
cuatro,cinco,seis=date

In [16]:
print(cuatro)
print(seis)
print(cinco)

domingo
martes
lunes

In [17]:
print(date)

('domingo', 'lunes', 'martes')

In [18]:
pares=(2,4,6,8,10)

In [19]:
_,_,diego,maurico,_,=pares

In [20]:
print(diego)

6

In [21]:
# Convertir una cadena de texto en una lista de caracteres
texto = "Hola mundo"
lista_caracteres = list(texto)
print(lista_caracteres)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

In [22]:
tupla_dias= ('lunes', 'martes', 'miércoles','jueves','viernes','sábado', 'domingo')

print(tupla_dias[1])

martes

In [26]:
x=11
y=22
z='Henry'
mi_tupla= x,y,z

In [29]:
tupla_impares=(2,4,8,10,12,14)
primero = tupla_impares[0]
cuarto = tupla_impares[3]
quinto = tupla_impares[4]
print(primero)
print(cuarto)
print(quinto)

2
10
12

In [30]:
lista_impares= list(tupla_impares)

In [32]:
nueva_tupla=tuple(lista_impares)

In [35]:
print(type(lista_impares))
print(type(tupla_impares))
print(type(nueva_tupla))
print(lista_impares)
print(tupla_impares)
print(nueva_tupla)

<class 'list'>
<class 'tuple'>
<class 'tuple'>
[2, 4, 8, 10, 12, 14]
(2, 4, 8, 10, 12, 14)
(2, 4, 8, 10, 12, 14)

#DICCIONARIO

In [36]:
PRIMER_DICCIONARIO=dict()

In [37]:
PRIMER_DICCIONARIO

{}

In [38]:
PRIMER_DICCIONARIO['PRIMERO']='1'

In [39]:
PRIMER_DICCIONARIO

{'PRIMERO': '1'}

In [40]:
PRIMER_DICCIONARIO['SEGUNDO']=2
PRIMER_DICCIONARIO['TERCERO']=3

In [41]:
PRIMER_DICCIONARIO

{'PRIMERO': '1', 'SEGUNDO': 2, 'TERCERO': 3}

In [42]:
SEGUNDO_DICCIONARIO={'cuarto': 4, 'quinto':5,'sexto':6,'siete':7}

In [43]:
SEGUNDO_DICCIONARIO

{'cuarto': 4, 'quinto': 5, 'sexto': 6, 'siete': 7}

In [45]:
print(SEGUNDO_DICCIONARIO['cuarto'])

4

In [46]:
mi_diccionario = {  'Colores Primarios': ['Rojo','Azul','Amarillo'], 
                    'Colores secundarios': ['Naranja','Violeta','Verde'], 
                    'Clave3': 10,
                    'Clave4': False}

In [47]:
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave3': 10, 'Clave4': False}

In [49]:
del mi_diccionario['Clave4'] #Borramos, eliminamos un elemento del diccionario a traves de su clave

In [50]:
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave3': 10}

In [51]:
# Asignamos claves con una tupla
mi_tupla=('Argentina', 'Italia', 'Inglaterra')

In [53]:
mi_diccionario={mi_tupla[0]: 'Buenos Aires',
                mi_tupla[1]: 'Roma',
                mi_tupla[2]: 'Londres'}

In [54]:
print(mi_diccionario)

{'Argentina': 'Buenos Aires', 'Italia': 'Roma', 'Inglaterra': 'Londres'}

In [55]:
#Podemos colocar una tupla como valor de una clave
mi_diccionario={'Clave 1':'Valor1','Clave2':(1,2,3,4)}

In [56]:
print(mi_diccionario)

{'Clave 1': 'Valor1', 'Clave2': (1, 2, 3, 4)}

In [ ]:
#Tambien puedo colocar una lista (parecido a la tupla)
#Tambien podemos colocar un diccionario dentro de otro diccionario

In [57]:
#keys para obtener las claves de un diccionario
print(mi_diccionario.keys())

dict_keys(['Clave 1', 'Clave2'])

In [58]:
#values para obtener los valores de un diccionario
print(mi_diccionario.values())

dict_values(['Valor1', (1, 2, 3, 4)])

In [59]:
len(mi_diccionario)

2

In [ ]:
#para saber mas sobre estructura de datos https://blog.soyhenry.com/tipos-de-estructura-de-datos-en-python/